@import "modules/header";
@import "modules/navigation";
@import "partials/color";
@import "partials/fonts";
@import "modules/home";
@import "modules/activities";
@import "modules/addWannaDo";
@import "modules/useres";
body{
 // background: lightgoldenrodyellow;
  /*width: 100vw;
  display: flex;
  justify-content: center;*/
}
*{
  font-family: $contentFont;
}
.container{
  width: 100%;
  position: relative;

}