@import "../partials/fonts";
.activities{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 /* font-size: 1rem;*/
  div, .sportWannaDo{
    font-size: 16px;
    text-align: center;
    width: 80%;
    font-family: $contentFont;
    border: 1px solid $headerFontColor;
    margin-bottom: 10px;
    .wannaDO{
      font-weight: bold;
      color: $headerFontColor;
      text-align: justify-all;
    }
  }
  .search{
    font-size: 16px;
    font-family: $contentFont;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0 10px 0;
  }
  input{
    margin-top: 10px;
    text-align: center;
    border: 1px solid $headerFontColor;
  }
  .desc{
    padding: 10px;
    text-align: justify;
  }
}
.sportWannaDo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .msgArea{
  width: 100%;
  height: 100px;
}}
