@import "../partials/color";
@import "../partials/fonts";
.addWannaDoForm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .addWannaDoDiv{
    width: 100%;
    border: none;
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  p{
    padding: 10px;
  }
  textarea{
    border: 1px solid $headerFontColor;
  }
  input{

    text-align: center;
  }
}