@import "../partials/color";
@import "../partials/fonts";
.header{
  width: 100%;
  //height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #F4EEDD;
 // margin-bottom: 20px;
  padding-bottom: 20px;
 // position: fixed;
a{
  text-decoration: none;
  color: black;
}
  h1{
    padding-top: 20px;
    margin: 0;
    font-family:$headerFont;
    color: $headerFontColor;
    font-size: 4rem;
  }
  h3{
    margin: 0;
    padding: 0;
    font-family: $headerFont;
    color: $headerFontColor;
  }
}