@import "../partials/fonts";
.home{
  margin: 5px;
  font-family: $contentFont;
}
.logedUser{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .userElement{
    padding: 10px;
  }
}