@import "../partials/color";

.navList{
  list-style: none;
  padding: 0;

  li{
    text-align: center;
    padding: 1.5rem 20px 1.5rem 20px;
    font-size: 1.5rem;
   // border: 1px solid black;
    margin: 10px;
    a{
      text-decoration: none;
      color: #000;
    }
  }
  li:hover{
    text-align: center;
    color: #F4EEDD;
    background: $headerFontColor;
    cursor: pointer;
    a{
      color: #F4EEDD;
    }
  }
}
.naviButton {
  position: absolute;
  left: 10px;
  top: 10px;
  -moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, $headerFontColor));
  background:-moz-linear-gradient(top, #c123de 5%, $headerFontColor 100%);
  background:-webkit-linear-gradient(top, #c123de 5%, $headerFontColor 100%);
  background:-o-linear-gradient(top, #c123de 5%, $headerFontColor 100%);
  background:-ms-linear-gradient(top, #c123de 5%, $headerFontColor 100%);
  background:linear-gradient(to bottom, #c123de 5%, $headerFontColor 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
  background-color:$headerFontColor;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #a511c0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight:bold;
  padding:14px 16px;
  text-decoration:none;
  text-shadow:-4px 5px 4px #9b14b3;
}
.naviButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
  background:-moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:-webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:-o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:-ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
  background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
  background-color:#a20dbd;
}