@import "../partials/color";
@import "../partials/fonts";
.userElement{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $headerFontColor;
  padding: 10px;
  margin: 10px 0 10px 0;
}
.useres{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .userDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .details{
    width: 40%;
    div {
     padding: 10px;
    }
  }
  .about{
    width: 40%;
  }
}